---
import { type CollectionEntry, getCollection } from 'astro:content';
import Footer from '../../components/Footer.astro';
import Head from "../../components/Head.astro"
import Hero from "../../components/Hero.astro"

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<html lang="en">
  <Head/>
  <body class="bg-slate-900 text-slate-300 flex flex-col [&>footer]:mt-auto h-screen">
    <main class="container mx-auto prose lg:prose-xl prose-invert">
      <article>
        <Hero video={post.data.video} image={post.data.image}/>
        <h1 class="text-3xl">{post.data.title}</h1>
        <Content />
      </article>
    </main>
    <Footer/>
  </body>
</html>
