---
import Footer from '../../components/Footer.astro';
import { getCollection } from 'astro:content';
import Head from "../../components/Head.astro"

const posts = await getCollection('blog');
---

<!doctype html>
<html lang="en">
  <Head />
  <body class="bg-slate-900 text-slate-300 flex flex-col [&>footer]:mt-auto h-screen">
    <main class="container mx-auto h-full">
			<section id="blog-list" class="flex flex-col justify-center items-center h-full">
				<ul class="flex flex-col gap-5">
					{
						posts.map((post) => (
							<li class="rounded-lg bg-slate-800 hover:bg-slate-700 hover:scale-125 transition p-3">
								<a href={`/blog/${post.slug}/`}>
                  <figure>
                    {post.data.image && 
                      <img class="m-auto" height={300} width={300} src={post.data.image} alt="article thumbnail"/>
                    }
                    <figcaption class="text-center">
                      {post.data.title}
                    </figcaption>
                  </figure>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
