---
import Footer from '../../components/Footer.astro';
import { getCollection } from 'astro:content';
import Head from "../../components/Head.astro"

const posts = await getCollection('blog');
---

<!doctype html>
<html lang="en">
 <Head/>
  <body class="bg-slate-900 text-slate-300 flex flex-col [&>footer]:mt-auto h-screen">
    <main class="container mx-auto h-full">
			<section id="blog-list" class="flex flex-col justify-center items-center h-full">
				<ul>
					{
						posts.map((post) => (
							<li class="rounded-r rounded-bl bg-slate-700 hover:bg-slate-600 hover:scale-125 transition px-2">
								<a href={`/blog/${post.slug}/`}>
									<h3>{post.data.title}</h4>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
